/* Color variables */
:root {
  --background-color: #FBFFF5;
  --text-color: #93B55E;
  --bar-color: #94b55e6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding-left: 40;
  padding-right: 40;
  padding-top: 0;
  color: var(--text-color);
}

html,body {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: var(--background-color);
}

/* header style */
header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--background-color);
}

/* section style */
section {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.header_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.about_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.regular_block {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 400;
}

.medium_block {
  display: flex;
  height: 100%;
  width: 100%;
  font-weight: 500;
}

.bold_block {
  display: flex;
  height: 100%;
  width: 100%;
  font-weight: 700;
}

.footer_block {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* header_block_style h1 */
#header_block_style h1 {
  text-align: center;
  font-size: 11.25vw;
  font-weight: 600;
  line-height: 11.25vw;
}

/* header_block_style h2 */
#header_block_style h2 {
  text-align: center;
  font-size: 2.25vw;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

/* about_block_style h3 e*/
#about_block_style h3 {
  text-align: left;
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
}

/* about_block_style p */
#about_block_style p {
  padding-top: 15;
  font-size: 1.5vw;
}

/*header paragraph style*/
#header_paragraph h3 {
  padding-left: 50;
  padding-right: 50;
  padding-top: 15;
  text-align: left;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* common page style */
#common_page_style {
  width: 100%;
}

/* footer style */
#footer_block_style h3 {
  width: 100%;
  align-content: center;
}

.bar {
  width: 100%;
  flex-shrink: 0;
  height: 69px;
  align-content: center;
  background-color: var(--bar-color);
}

.line {
  width: 100%;
  height: 3px;
  margin-bottom: 45px;
  background-color: var(--bar-color);
  flex-shrink: 0;
}

#regular_bar_title h4 {
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 400;
}

#medium_bar_title h4 {
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 500;
}

#bold_bar_title h4 {
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 700;
}

#regular_example h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 7.5vw;
  font-style: normal;
  font-weight: 400;
}

#medium_example h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 7.5vw;
  font-style: normal;
  font-weight: 500;
}

#bold_example h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 7.5vw;
  font-style: normal;
  font-weight: 700;
}

.common_example {
  width: 100%;
}

#glyphs {
  width: 100%;
  height: 100%;
  background-color: orange;
}

.font-text-block {
  width: -fit-content;
  height: -fit-content;
  float: left;
  text-align: left;
}

.font-size-block {
  width: -fit-content;
  height: -fit-content;
  float: right;
  text-align: right;
}

.font-10px {
  font-size: 0.65vw;
}

.font-20px {
  font-size: 1.3vw;
}

.font-30px {
  font-size: 1.95vw;
}

.font-40px {
  font-size: 2.6vw;
}

.font-50px {
  font-size: 3.25vw;
}

.glyphs_grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, min-content);
  gap: 5px;
  padding: 5px;
  text-align: center;
}

.glyphs_border {
  width: 100%;
  position: relative;
  align-content: center;
  border-radius: 10px;
  border: 3px solid var(--text-color);
  box-sizing: border-box;
  height: 62px;
  width: 62px;
  font-size: 2.25vw;
  color: var(--text-color);
  font-weight: 400;
}

.custom-alert {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 2.25vw;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 3px solid var(--text-color);
}

.custom-alert-content {
  position: relative;
}

.close-alert {
  position: absolute;
  align-content: center;
  right: 10px;
  cursor: pointer;
  font-size: 2.25vw;
  color: var(--text-color);
}

#alert-message {
  margin: 0;
}

.center-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  padding-top: 40px;
}